# Compiled class file
*.class

**/*.csv

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
data/allwaste.csv
target
tmp
.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
*.iml
*.swp
.DS_Store
_site

src/main/java/Demo/LKafkaToGKafka.java
src/main/java/Demo/ProducerTest.java
src/main/java/Demo/SourceToLKafka.java
src/main/java/Demo/TestHbase.java
src/main/java/Demo/TestTopics.java
src/main/java/component/AbstractConsumer.java
src/main/java/component/AbstractProducer.java
src/main/java/component/DataSource.java
src/main/java/component/GlobalProducer.java
src/main/java/component/JiangSuConsumer.java
src/main/java/component/LocalProducer.java
src/main/java/component/StationDataSource.java
src/main/java/component/AbstractProducer.java
src/main/java/component/DataSource.java
src/main/java/component/GlobalProducer.java
src/main/java/component/JiangSuConsumer.java
src/main/java/component/StationDataSource.java
src/main/scala/com/dataartisans/flink_demo/sinks/PreBuiltTransportClient1.java
src/main/java/component/StationDataSource.java
data/out/oooooo.txt
data/out/writeout.txt
data/out/oooooo.txt
data/out/writeout.txt
